
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script>
        var app = angular.module('EligibilityApp', []);
        app.controller('EligibilityCtrl', Questions.Controller);
    </script>
</head>

<h2>Eligibility</h2>

<div id="bodyContainer" ng-app="EligibilityApp">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="flip-container text-center col-md-12" ng-controller="EligibilityCtrl" ng-init="nextQuestion()">
                    <div class="front" ng-class="{flip: nQuestion.answered}">
                        <p class="lead">{{nQuestion.title}}</p>
                        <div class="row text-center">
                            <button class="btn btn-danger btn-lg option" ng-repeat="option in nQuestion.options" ng-click="sendAnswer(option)" ng-disabled="working">{{option.title}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
